<html>
  <head>
    <title>Professor Project Preference Form</title>
  </head>

  <body>
    <%= render 'shared/generic_page_header' %>
    <%= render 'shared/notification' %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="text-center mb-4">
            CSCE Capstone Professor Project Preference Form <%= @current_semester %>
          </h1>
          <br />
          <p>
            Howdy! Choose the industry projects that you would prefer to have in your courses for <%= @current_semester %>.
          </p>
          
          <%= form_with(url: '/prof_projects_ranking', method: 'post') do |form| %>

          <p>
            Please rank the projects. You can only have 1 project for each rank. Leave the field blank if you do not want the project at all.
          </p>
          <br />

          <%= render 'shared/project_ranking_table'%>

          <br />

          <div class="text-center mt-4">
            <%= form.button 'Submit', class: 'btn btn-danger
            custom-maroon-button' %>
          </div>
          <% end %>
          <hr />
        </div>
      </div>
    </div>
  </body>
</html>
