<html>
  <head>
    <title>Professor Project Preference Form</title>
  </head>

  <body>
    <div class="container mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <button
          class="btn btn-danger custom-maroon-button"
          id="dark-mode-toggle"
        >
          Toggle Dark Mode
        </button>
        <%= button_to "Logout", logout_path, { class: "btn btn-danger custom-maroon-button", data: { turbo: "false" }, method: :get } %>
      </div>
    </div>
    <%= render 'shared/notification' %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="text-center mb-4">
            CSCE Capstone Professor Project Preference Form
          </h1>
          <br />
          <p>
            Howdy! Let us know which industry projects you are interested in.
          </p>
          
          <%= form_with(url: '/prof_projects_ranking', method: 'post') do |form| %>

          <h4>Project Preferences</h4>
          <p>
            Please rank the projects. You can only have 1 project for each rank. Leave the field blank if you do not want the project at all.
          </p>
          <br />

          <%= render 'shared/project_ranking_table'%>

          <br />

          <div class="text-center mt-4">
            <%= form.button 'Submit', class: 'btn btn-danger
            custom-maroon-button' %>
          </div>
          <% end %>
          <hr />
        </div>
      </div>
    </div>
  </body>
</html>
