<html>
<head>
	<title>Student Form</title>
</head>

<body>
	<div class="container mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-danger custom-maroon-button" id="dark-mode-toggle">Toggle Dark Mode</button>
        <%= button_to "Logout", logout_path, { class: "btn btn-danger custom-maroon-button", data: { turbo: "false" }, method: :get } %>
      </div>
    </div>
	<%= render 'shared/notification' %>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h1 class="text-center mb-4">CSCE Capstone Project Preference Form</h1>
				<br/>
				<p>Howdy! Let us know which industry projects you are interested in.</p>
				<p>This form is open from <%= @form_open.in_time_zone("Central Time (US & Canada)").strftime("%B %d, %Y %I:%M %p %Z") %> to <%= @form_close.in_time_zone("Central Time (US & Canada)").strftime("%B %d, %Y %I:%M %p %Z") %></p>
				<h4>Student Information</h4>
				<p> All information on this form is required.</p>
				<%= form_with(url: '/studentform', method: 'post') do |form| %>
					<div class="form-group mb-3">
					  <%= form.label :email, 'TAMU Email Address<span class="text-danger">*</span>'.html_safe %>
					  <%= form.email_field :email, class: 'form-control', placeholder: 'Enter your TAMU email address', value: @email, required: true, readonly: true %>
					</div>
				  
					<div class="form-group mb-3">
					  <%= form.label :last_name, 'Last Name<span class="text-danger">*</span>'.html_safe %>
					  <%= form.text_field :last_name, class: 'form-control', placeholder: 'Enter your last name', value: @last_name, required: true %>
					</div>
				  
					<div class="form-group mb-3">
					  <%= form.label :first_name, 'First Name<span class="text-danger">*</span>'.html_safe %>
					  <%= form.text_field :first_name, class: 'form-control', placeholder: 'Enter your first name', value: @first_name, required: true %>
					</div>
				  
					<div class="form-group mb-3">
						<%= form.label :uin, 'UIN<span class="text-danger">*</span>'.html_safe %>
						<%= form.text_field :uin, class: 'form-control', placeholder: 'UIN', value: @uin, required: true, maxlength: 9 %>
						<div class="invalid-feedback">
							Please enter exactly 9 numbers.
						</div>
						</div>
				  
					<%= render 'shared/gender_selector' %>
					<%= render 'shared/course_selector' %>
					<%= render 'shared/work_auth_selector' %>
					<%= render 'shared/contract_sign_selector' %>
					<%= render 'shared/nationality_selector' %>
					<%= render 'shared/ethnicity_selector' %>
					
					<br/><hr/>
					<h4>Project Preferences</h4>
					<p>Please rank a minimum of <%= @min_number %> projects and a maximum of <%= @max_number %> projects. You can only have 1 project for each rank. Leave the field blank if you do not want the project at all.</p>
					<br/>

					<%= render 'shared/project_ranking_table'%>
					
					<br>
					<hr>

					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
						<label class="form-check-label" for="invalidCheck2">
							By checking this box, you are agreeing to having your information stored and used by CSCE capstone professors to help match you with a capstone project.
						</label>
					</div>

					<div class="text-center mt-4">
						<%= form.button 'Submit', class: 'btn btn-danger custom-maroon-button' %>
				  	</div>				  
				<% end %>
				<hr>
			</div>
		</div>
	</div>
</body>
</html>