<html>
<head>
  <title>Professor Registration</title>
</head>
<body>
  <div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center">
      <%= link_to "Back to Main Page", root_path, class: "btn btn-danger custom-maroon-button ml-3", id: "back-button" %>
      <button class="btn btn-danger custom-maroon-button" id="dark-mode-toggle">Toggle Dark Mode</button>
    </div>
  </div>
  <%= render 'shared/notification' %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center mb-4">Professor Registration</h1>
        <!-- Registration Form -->
        <%= form_with(url: "/profregistration", method: "post") do |form| %>
          <div class="form-group mb-3">
            <%= form.label :email, "TAMU Email Address<span class='text-danger'>*</span>".html_safe %>
            <%= form.email_field :email, class: "form-control", placeholder: "Enter your TAMU email address", required: true %>
          </div>
          <div class="form-group mb-3">
            <%= form.label :first_name, "First Name<span class='text-danger'>*</span>".html_safe %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "Enter your first name", required: true %>
          </div>
          <div class="form-group mb-3">
            <%= form.label :last_name, "Last Name<span class='text-danger'>*</span>".html_safe %>
            <%= form.text_field :last_name, class: "form-control", placeholder: "Enter your last name", required: true %>
          </div>
          <div class="form-group mb-3">
            <%= form.label :course_ids, "Select Courses".html_safe %>
            <%= form.collection_check_boxes :course_ids, @courses, :id, lambda { |course| "CSCE #{course.course_number}-#{course.section}-#{course.semester}" }, {}, multiple: true, class: "form-check-input" do |b| %>
              <div class="form-check">
                <%= b.check_box(class: "form-check-input") %>
                <%= b.label(class: "form-check-label") %>
              </div>
            <% end %>
          </div>
          <div class="text-center m-4">
            <%= form.submit "Register", class: "btn btn-danger custom-maroon-button" %>
          </div>
        <% end %>
        <hr>
        <div class="row text-center">
          <div class="col">
            <p class="mt-2 ">Already registered as a professor?</p>
            <%= button_to "Login here", google_login_path, class: "btn btn-danger custom-maroon-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>