<html>
<head>
  <title>Professor Registration</title>
</head>
<body>
  <div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center">
      <%= link_to "Back to Main Page", root_path, class: "btn btn-danger custom-maroon-button ml-3", id: "back-button" %>
      <button class="btn btn-danger custom-maroon-button" id="dark-mode-toggle">Toggle Dark Mode</button>
    </div>
  </div>

  <!-- Showing Alerts after reigster is pressed -->
  <% if flash[:success].present? %>
    <div class="alert alert-success alert-dismissible fade show m-4" role="alert">
      <%= flash[:success] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </button>
    </div>
  <% end %>

  <% if flash[:error].present? %>
    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
      <%= flash[:error] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center mb-4">Professor Registration</h1>
        <!-- Registration Form -->
        <%= form_with(url: "/profregistration", method: "post") do |form| %>
          <div class="form-group mb-3">
            <%= form.label :email, "TAMU Email Address<span class='text-danger'>*</span>".html_safe %>
            <%= form.email_field :email, class: "form-control", placeholder: "Enter your TAMU email address", required: true %>
          </div>
          <div class="form-group mb-3">
            <%= form.label :first_name, "First Name<span class='text-danger'>*</span>".html_safe %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "Enter your first name", required: true %>
          </div>
          <div class="form-group mb-3">
            <%= form.label :last_name, "Last Name<span class='text-danger'>*</span>".html_safe %>
            <%= form.text_field :last_name, class: "form-control", placeholder: "Enter your last name", required: true %>
          </div>
          <div class="text-center mt-4">
            <%= form.submit "Register", class: "btn btn-danger custom-maroon-button" %>
            <p class="mt-2">Already registered as a professor? <%= link_to "Login here", new_user_session_path(user_type: "professor"), style: "color: maroon;" %></p>
          </div>
        <% end %>
        <hr>
      </div>
    </div>
  </div>
</body>
</html>