<!-- app/views/sponsor_restrictions/edit.html.erb -->

<div class="container">
  <h1 class="text-center my-4">Edit Sponsor Restriction</h1>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= render 'shared/notification' %>

      <%= form_for [@project, @sponsor_restriction] do |f| %>
        <%= render partial: 'shared/sponsor_restrictions', locals: { f: f, key: @sponsor_restriction.restriction_type} %>

        <div class="form-actions text-center mb-4">
          <br/>
          <%= f.submit "Update", class: 'btn btn-primary' %>
          <%= link_to "Back", edit_project_path(@project), class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
