<html>
<style>
  .hidden {
    display: none;
  }
</style>
<head>
  <title>Admin Landing Page</title>
</head>
<body>
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to "Back to Admin Home Page", adminlanding_path, class: "btn btn-danger custom-maroon-button ml-3", id: "back-button" %>
    <button class="btn btn-danger custom-maroon-button" id="dark-mode-toggle">Toggle Dark Mode</button>
  </div>
  <% if flash[:success].present? %>
    <div class="alert alert-success alert-dismissible fade show m-4" role="alert">
      <%= flash[:success] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </button>
    </div>
  <% end %>

  <% if flash[:error].present? %>
    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
      <%= flash[:error] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <div class="d-flex justify-content-center align-items-center">
      <h1>Manage Professors and Admins</h1>
  </div>
  <div class="container table-responsive">
    <form method="patch" action="<%= manageprof_path %>" id="change-professors-form">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Semester</th>
            <th>Section</th>
            <th>Admin Approved</th>
            <th>Admin</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
        <% @professors.each do |professor| %>
          <tr>
            <td><%= professor.email %></td>
            <td><%= professor.first_name %></td>
            <td><%= professor.last_name %></td>
            <td><%= professor.semester.present? ? professor.semester.join(', ') : 'N/A' %></td>
            <td><%= professor.section.present? ? professor.section.join(', ') : 'N/A' %></td>
            <td>
              <select name="admin_approved[<%= professor.email %>]" >
                <option value="Yes" <%= professor.admin_approved ? 'selected' : '' %> >Yes</option>
                <option value="No" <%= professor.admin_approved ? '' : 'selected' %> >No</option>
              </select>
            </td>
            <td>
              <select name="admin[<%= professor.email %>]" >
                <option value="Yes" <%= professor.admin ? 'selected' : '' %> >Yes</option>
                <option value="No" <%= professor.admin ? '' : 'selected' %> >No</option>
              </select>
            </td>
            <td>
              <input type="checkbox" name="delete_professor_emails[]" value="<%= professor.email %>" class="delete-checkbox">
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-danger m-2" id="save-button">Save Changes</button>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-success m-2" id="add-button" data-toggle="collapse" data-target="#add-professor-form">Add Professor</button>
  </div>
  <div class="container">
    <div class="row">
      <div class="add-professor-form hidden" id="add-professor-form">
        <form  method="post" action="<%= add_professor_path %>" id="add-professor-form">
          <div class="form-group mb-3">
            <label for="email">TAMU Email Address<span class="text-danger">*</span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your TAMU email address" required>
            </div>
            <div class="form-group mb-3">
              <label for="first-name">First Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="first-name" name="first_name" placeholder="Enter your first name" required>
            </div>
            <div class="form-group mb-3">
              <label for="last-name">Last Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Enter your last name" required>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="admin" name="admin">
              <label class="form-check-label" for="admin">Admin</label>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>    
        </form>
      </div>
    </div>
  </div>
<script>
$(document).ready(function() {
  // When the "Add Professor" button is clicked, toggle the visibility of the form
  $("#add-button").click(function() {
    $("#add-professor-form").toggleClass("hidden");
  });
});
</script>
</body>