<html>
<style>
  .hidden {
    display: none;
  }
</style>
<head>
  <title>Admin Landing Page</title>
</head>
<body>
  <%= render 'shared/admin_page_header' %>
  <%= render 'shared/notification' %>
  <div class="d-flex justify-content-center align-items-center">
      <h1>Manage Professors and Admins</h1>
  </div>
  <div class="container table-responsive">
    <%= form_with(url: save_change_path, method: "post", id: "change-professors-form") do |form| %>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Courses</th>
            <th>Admin Approved</th>
            <th>Admin</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
          <% @professors.each do |user| %>
            <% professor = user.professor %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td>
                <ul>
                  <% professor.courses.each do |course| %>
                    <li>
                      CSCE <%= course.course_number %> - <%= course.section %> - <%= course.semester %>
                    </li>
                  <% end %>
                </ul>
              </td>
              <td>
                <%= form.select "verified[#{user.email}]", options_for_select([["Yes", "Yes"], ["No", "No"]], professor.verified ? "Yes" : "No") %>
              </td>
              <td>
                <%= form.select "admin[#{user.email}]", options_for_select([["Yes", "Yes"], ["No", "No"]], professor.admin ? "Yes" : "No") %>
              </td>
              <td>
                <%= form.check_box "delete_professor_emails[]", { value: user.email }, user.email, nil %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center align-items-center">
        <%= form.button "Save Changes", class: "btn btn-danger m-2", id: "save-button" %>
      </div>
    <% end %>  
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-success m-2" id="add-button" data-toggle="collapse" data-target="#add-professor-form">Add Professor</button>
  </div>
  <div class="container">
    <div class="row">
      <div class="add-professor-form hidden" id="add-professor-form">
      <%= form_with(model: @professor, url: add_professor_path, id: "add-professor-form") do |form| %>
        <div class="form-group mb-3">
          <%= form.label :email, "TAMU Email Address<span class='text-danger'>*</span>".html_safe %>
          <%= form.email_field :email, class: "form-control", placeholder: "Enter your TAMU email address", required: true %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :first_name, "First Name<span class='text-danger'>*</span>".html_safe %>
          <%= form.text_field :first_name, class: "form-control", placeholder: "Enter your first name", required: true %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :last_name, "Last Name<span class='text-danger'>*</span>".html_safe %>
          <%= form.text_field :last_name, class: "form-control", placeholder: "Enter your last name", required: true %>
        </div>
        <div class="form-check">
          <%= form.check_box :admin, class: "form-check-input", id: "admin" %>
          <%= form.label :admin, "Admin", class: "form-check-label", for: "admin" %>
        </div>
        <div class="text-center mt-4">
          <%= form.submit "Submit", class: "btn btn-success" %>
        </div>
      <% end %>      
      </div>
    </div>
  </div>
<script>
$(document).ready(function() {
  // When the "Add Professor" button is clicked, toggle the visibility of the form
  $("#add-button").click(function() {
    $("#add-professor-form").toggleClass("hidden");
  });
});
</script>
</body>