<div>
  <script>
      $(document).ready(function() {
          // Event listener for change in restriction type dropdown
          $('[name*="restriction_type"]').on('change', function() {
              var selectedType = $(this).val(); // Get the selected restriction type
              var selectedValues = <%= @restrictions.to_json.html_safe %>[selectedType]; // Get values for selected type from Ruby variable

              var restrictionValField = $(this).closest('#sponsorRestriction').find('[name*="restriction_val"]');
              // Clear previous options
              restrictionValField.empty();

              // Add empty default option
              restrictionValField.append($('<option>').text('').attr('value', ''));

              // Add options based on selected type
              if (selectedValues) {
                  $.each(selectedValues, function(index, value) {
                      restrictionValField.append($('<option>').text(value).attr('value', value));
                  });
              }
          });
      });
  </script>
  <div id = "sponsorRestriction">
    <fieldset>
      <%= f.label :restriction_type %>
      <%= f.select :restriction_type, [''] + @restrictions.keys, {}, class: "form-control" %>

      <% selected_values = key.empty? ? [''] :  @restrictions[key]  %>

      <% # If restriction type is selected, show corresponding values as options %>
      <% if selected_values.present? %>
        <%= f.label :restriction_val %>
        <%= f.select :restriction_val, selected_values, {}, class: "form-control" %>
      <% end %>
    </fieldset>
  </div>
</div>
