<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Capstone Matching System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <% if current_user.present? %>
            <script>
                $(document).ready(function() {
                    $("#student-path").click(function(e) {
                        if (<%= current_user.present? %> && "<%= current_user.role %>" !== 'student') {
                            alert("Access denied since you are not logged in as a student.");
                            e.preventDefault(); // Prevent the link from navigating to the URL
                        }
                    });
                    $("#professor-path").click(function(e) {
                        if (<%= current_user.present? %> && "<%= current_user.role %>" !== 'professor') {
                            alert("Access denied since you are not logged in as a professor.");
                            e.preventDefault(); // Prevent the link from navigating to the URL
                        }
                    });
                });
            </script>
        <% end %>
    </head>
    <body>

        <div class="container">
            <div class="jumbotron">
                <h2>Get Started</h2>
                <p>Join our community of students and educators to discover or propose capstone projects.</p>
                <button class="btn btn-primary custom-button">
                    <a id="student-path" href="<%= current_user.present? && current_user.role == 'student' ? '/StudentForm' : new_user_session_path(user_type: "student") %>">
                        Student
                    </a>
                </button>
                <button class="btn btn-primary custom-button">
                    <a id="professor-path" href="<%= current_user.present? && current_user.role == 'professor'  ? profLanding_path : profregistration_path %>">
                        Professor
                    </a>
                </button>
            </div>
        </div>
        <%= link_to 'Go to /devtest', '/devtest', class: 'btn btn-primary custom-button' %>

        <!-- Include Bootstrap 5 JS (with Popper.js) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
