<% def course_option_text(course) %>
  <%= "#{professor_name(course)} CSCE #{course.course_number}-#{course.section} #{course.semester}" %>
<% end %>

<% def professor_name(course) %>
	<% professor = course.professor %>
	<%= professor.present? ? "#{professor.user.first_name.capitalize} #{professor.user.last_name.capitalize}" : "No Professor Assigned" %>
<% end %>
<body>
	<%= render 'shared/generic_page_header' %>
	<%= render 'shared/notification' %>

	<div class="container">
		<h1 class="text-center my-4">View Professor Project Preferences</h1>

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header">Filter by Project</div>
					<div class="card-body">
						<%= form_tag(viewProfProjectPreferences_path, method: :get, class: 'form-inline') do %>
							<div class="form-group mb-2 mr-2">
								<%= select_tag :project, options_for_select(@project_names, @selected_project), include_blank: "All Projects", class: 'form-control', id: 'Project' %>
							</div>
							<%= submit_tag "Filter", class: 'btn btn-primary mb-2' %>
						<% end %>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<% @projects.each do |project| %>
			<h3 class="mt-4">Professors Preferences for <%= project.name %> (<%= project.semester %>)</h3>
			<h4>
				Assigned Professor and Course: 
				<% if (course = project.course) && (prof = course.professor) %>
					<%= "#{professor_name(course)} CSCE #{course.course_number}-#{course.section} #{course.semester}" %>
				<% else %>
					None
				<% end %>
			</h4>

			<table class="table table-bordered mb-2">
			<thead class="thead-dark">
				<tr>
					<th>Professor Name</th>
					<th>Preference Rank</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<%= form_tag(update_professor_preferences_path, method: :post, class: 'form-inline') do %>
				<%= hidden_field_tag :project_id, project.id %>
				<% professors_preferences_for_project = @professor_preferences.where(project_id: project.id) %>
				<% professors_preferences_for_project.each do |professor_preference| %>
				<tr>
					<td><%= "#{professor_preference.professor.user.first_name.capitalize} #{professor_preference.professor.user.last_name.capitalize}" %></td>
					<td><%= professor_preference.pref %></td>
					<td>
						<%= check_box_tag "professor_ids[]", professor_preference.professor.id %>
					</td>
				</tr>
				<% end %>
				<tr>
					<td colspan="3">
					<div class="form-group mb-3">
						<%= label_tag :course, "Assign Project to Course:" %>
						<% if @courses_by_semester[project.semester].present? %>
						<%= select_tag "course_id", options_for_select(@courses_by_semester[project.semester].map { |course| ["#{course.professor.user.first_name.capitalize} #{course.professor.user.last_name.capitalize} CSCE #{course.course_number}-#{course.section}-#{course.semester}", course.course_id] }, @cid), include_blank: true, class: "form-control"%>
						<% else %>
							<%= select_tag :course_id, options_for_select([]), class: 'form-control' %>
						<% end %>
					</div>
						<br>
						<%= submit_tag "Assign Professor", class: 'btn btn-primary mb-2', name: 'commit_type', value: 'Assign' %>
						<%= submit_tag "Delete Selected Professors", class: 'btn btn-danger mb-2', name: 'commit_type', value: 'Delete' %>
					</td>
				</tr>
				<% end %>
			</tbody>
			</table>
		<% end %>
	</div>
</body>
