<h1>Development Test Page</h1>
<p>This is a test page for development purposes.</p>

<%= form_with(url: '/devtest/upload_resume', multipart: true) do |form| %>
  <%= form.label :resume, 'Upload Resume (PDF)' %>
  <%= form.file_field :resume %>
  <%= form.submit 'Upload' %>
<% end %>

<% if flash[:resume_text].present? %>
  <h2>Resume Text</h2>
  <pre><%= flash[:resume_text] %></pre>
<% end %>

<% if flash[:error].present? %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<h1>Classification Result CALCULATION USES TESTING RESUME STRING</h1>
<p>The most similar job description is:</p>
<% if flash[:most_similar_job_description].present? %>
  <p><%= flash[:most_similar_job_description] %></p>
<% end %>
<p>with a score of:</p>
<% if flash[:similarity_score].present? %>
  <p><%= flash[:similarity_score] %></p>
<% end %>
