<!-- app/views/prof_landing/landing.html.erb -->
<html>
  <head>
    <title>Professor Landing Page</title>
  </head>
  <body>
  <%= render 'shared/notification' %>
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-danger custom-maroon-button m-3", id: "logout-button" %>
    <button class="btn btn-danger custom-maroon-button m-3" id="dark-mode-toggle">Toggle Dark Mode</button>
  </div>
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center">
      <h1>Welcome, Professor!</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <%= link_to "View Student Results", profLanding_path, class: "btn btn-danger custom-maroon-button custom-button m-4", id: "button-1" %>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <%= link_to "View Projects", projects_path, class: "btn btn-danger custom-maroon-button custom-button mb-4", id: "button-1" %>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <%= link_to "Submit Project Preferences", prof_projects_ranking_path, class: "btn btn-danger custom-maroon-button custom-button mb-4", id: "button-1" %>
    </div>
  </div>
</body>
</html>

<!-- <h1>Welcome, Professor!</h1>

<div class="buttons">
  <a href="#" class="btn btn-primary">View Results</a>
  <a href="#" class="btn btn-success">Add Projects</a>
  <a href="#" class="btn btn-danger">Remove Projects</a>
</div> -->
